<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mercado Liebre</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css" />
  <script src="https://kit.fontawesome.com/e6313bd8bc.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="/images/logo-mercado-liebre.svg" class="logo" onclick="location.href='/'">
      <form class="formulary" action="#" method="POST">
        <div class="inputdebarra">
          <input class="contenedor_barra_de_busqueda" type="search" placeholder="Buscar productos, marcas" />
          <span class="fa-solid fa-magnifying-glass"></span>
        </div>
      </form>
      <h2 class="copy-header_1">
        <span class="fa-solid fa-hand-holding-dollar"></span>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>
    <h2 class="copy-header">
      <span class="fa-solid fa-hand-holding-dollar"></span>
      Comprá en cuotas y sin tarjeta de crédito
    </h2>
    <a href="#" class="hamburger-button"><span class="fa-solid fa-bars"></span></a>
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="rigth-navbar">
        <li><a href="/register">Creá tu cuenta <span class="fa-solid fa-id-card icono"></span></a></li>
        <li><a href="/login">ingresá <span class="fa-sharp fa-solid fa-right-to-bracket icono"></span></a></li>
        <li><a href="#">Mis compras <span class="fa-solid fa-id-card icono"></span></a></li>
      </ul>
    </nav>
  </header>
  <main>
    <img class="banner" src="images/img-home-banner.jpg" alt="Banner" />
    <section>
      <h2>Basado en tu ultima visita</h2>
      <article>
        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" />
        <div class="propiedades_articulo">
          <span class="fa-solid fa-truck"></span>
          <p class="precio">$6770 <span class="descuento">40% OFF</span></p>
          <h4>Cafetera Moulinex</h4>
        </div>
      </article>
      <article>
        <img src="images/img-macbook-pro-2019.jpg" alt="Mcbook" />
        <div class="propiedades_articulo">
          <span class="fa-solid fa-truck"></span>
          <p class="precio">$230.000 <span class="descuento">20% off</span></p>
          <h4>MacBook Pro 2019</h4>
        </div>
      </article>
      <article>
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" />
        <div class="propiedades_articulo">
          <span class="fa-solid fa-truck"></span>
          <p class="precio">$70.500 <span class="descuento">10% off</span></p>
          <h4>Samsung Galaxy S10</h4>
        </div>
      </article>
      <article>
        <img src="images/img-tv-samsung-smart.jpg" alt="Samsung TV" />
        <div class="propiedades_articulo">
          <span class="fa-solid fa-truck"></span>
          <p class="precio">$23.200 <span class="descuento">5% off</span></p>
          <h4>SmartTv Samsung 43"</h4>
        </div>
      </article>
    </section>
    <h2 class="ofertas">Seccion de ofertas</h2>
    <section>
      <article>
        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" />
        <div class="propiedades_articulo">
          <span class="fa-solid fa-truck"></span>
          <p class="precio">$6770 <span class="descuento">40% OFF</span></p>
          <h4>Cafetera Moulinex</h4>
        </div>
      </article>
      <article>
        <img src="images/img-macbook-pro-2019.jpg" alt="Mcbook" />
        <div class="propiedades_articulo">
          <span class="fa-solid fa-truck"></span>
          <p class="precio">$230.000 <span class="descuento">20% off</span></p>
          <h4>MacBook Pro 2019</h4>
        </div>
      </article>
      <article>
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" />
        <div class="propiedades_articulo">
          <span class="fa-solid fa-truck"></span>
          <p class="precio">$70.500 <span class="descuento">10% off</span></p>
          <h4>Samsung Galaxy S10</h4>
        </div>
      </article>
      <article>
        <img src="images/img-tv-samsung-smart.jpg" alt="Samsung TV" />
        <div class="propiedades_articulo">
          <span class="fa-solid fa-truck"></span>
          <p class="precio">$23.200 <span class="descuento">5% off</span></p>
          <h4>SmartTv Samsung 43"</h4>
        </div>
      </article>
    </section>
    <section class="hola">a</section>
  </main>
  <footer>
    <div class="footer">
      <div class="caja-footer">
      <span class="fa-sharp fa-solid fa-credit-card icono-footer"></span>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin<br>
        interés con tarjeta o efectivo en puntos de <br>
        pago. ¡Y siempre es seguro!
      </p>
    </div>
    <div class="caja-footer">
      <span class="fa-solid fa-gift icono-footer"></span>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>
        Solo por estar registrad@ en Mercado Liebre <br>
        tenés envíos gratis en miles de productos. Es <br>
        un beneficio de Mercado Puntos.
      </p>
    </div>
    <div class="caja-footer">
      <span class="fa-solid fa-user-shield icono-footer"></span>
      <h3>Seguridad, de principio a fin</h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
        no hay nada que no puedas hacer porque <br>
        estás siempre protegid@.
      </p>
    </div>
    </div>
      <p id="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </footer>
</body>

</html>